
.navbar {
    background-color: #112;
}

.navbar-icon {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar-brand {
    font-weight: bold;
}

.body-wrapper {
    background-color: #112;
}

.post-heading h1 {
    margin-bottom: 2rem;
}

.card-clickable {
    cursor: pointer;
}

.modal-content {
    cursor: pointer;
}

.note-paper {
    background-color: #f7e6d1;
    padding: 20px;
    border: 1px solid #e0d0b6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Lora", "Times New Roman", serif;
}

h2.about-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

p.about-description {
    font-size: 18px;
    line-height: 1.6;
}
